---
layout: default
---
{% comment %}
  You shouldn't need to edit this file. All content lives in _data/*.yml.
  A section only shows up when its data file exists and has entries.
{% endcomment %}
{% assign p = site.data.profile %}

<div class="intro">
  <h1 class="intro-name">{{ p.name }}</h1>
  <div class="intro-photo"><img src="{{ p.photo | relative_url }}" alt="{{ p.name }}"></div>
  <div class="intro-bio">
    {% for para in p.bio %}<p>{{ para }}</p>{% endfor %}
  </div>
  <p class="intro-contact">
    Email: {{ p.email }}<br>
    {% for link in p.links %}<a href="{{ link.url }}">{{ link.title }}</a>{% unless forloop.last %}&nbsp;/&nbsp;{% endunless %}{% endfor %}
  </p>
</div>

{% if site.data.news.size > 0 %}
<hr>
<h2>News</h2>
<ul class="list">
  {% for item in site.data.news %}
  <li>({{ item.date }}) {{ item.html }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if site.data.education.size > 0 %}
<hr>
<h2>Education</h2>
{% for item in site.data.education %}
<div class="row">
  <div class="row-text">
    <h3>{{ item.name }}</h3>, {{ item.location }}<br>
    {{ item.degree }}, <i>{{ item.period }}</i>
  </div>
  {% if item.image %}<img class="row-logo" src="{{ item.image | relative_url }}" alt="{{ item.name }} logo">{% endif %}
</div>
{% endfor %}
{% endif %}

{% if site.data.honors.size > 0 %}
<hr>
<h2>Honors and Awards</h2>
<ul class="list">
  {% for item in site.data.honors %}
  <li>
    {{ item.title }}{% if item.period %}, <i>{{ item.period }}</i>{% endif %}
    {% if item.detail %}<br>{{ item.detail }}{% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if site.data.publications.size > 0 %}
<hr>
<h2>Publications</h2>
{% for item in site.data.publications %}
<div class="row">
  {% if item.image %}<img class="row-thumb" src="{{ item.image | relative_url }}" alt="">{% endif %}
  <div class="row-text">
    <h3>{{ item.title }}</h3><br>
    {{ item.authors }}<br>
    <i>{{ item.venue }}</i>, {{ item.year }}<br>
    {% for link in item.links %}<a href="{{ link.url }}">{{ link.title }}</a>{% unless forloop.last %} / {% endunless %}{% endfor %}
    {% if item.description %}<br><i>{{ item.description }}</i>{% endif %}
  </div>
</div>
{% endfor %}
{% endif %}

{% if site.data.experience.size > 0 %}
<hr>
<h2>Experience</h2>
{% for item in site.data.experience %}
<div class="row">
  <div class="row-text">
    <h3>{% if item.url %}<a href="{{ item.url }}">{{ item.name }}</a>{% else %}{{ item.name }}{% endif %}</h3>, <i>{{ item.period }}</i><br>
    {{ item.role }}
    {% if item.description %}<br><i>{{ item.description }}</i>{% endif %}
  </div>
  {% if item.image %}<img class="row-logo" src="{{ item.image | relative_url }}" alt="{{ item.name }} logo">{% endif %}
</div>
{% endfor %}
{% endif %}

{% if site.data.projects.size > 0 %}
<hr>
<h2>Selected Projects</h2>
{% for item in site.data.projects %}
<div class="row">
  {% if item.image %}<img class="row-thumb" src="{{ item.image | relative_url }}" alt="{{ item.title }}">{% endif %}
  <div class="row-text">
    <h3>{{ item.title }}</h3>{% if item.period %}, {{ item.period }}{% endif %}<br>
    {% for link in item.links %}<a href="{{ link.url }}">{{ link.title }}</a>{% unless forloop.last %} / {% endunless %}{% endfor %}
    <br><i>{{ item.description }}</i>
    {% if item.award %}<br>{{ item.award }}{% endif %}
  </div>
</div>
{% endfor %}
{% endif %}

<hr>
<p class="footer">
  Last updated: {{ p.updated }}
</p>
