<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.name }}</title>
  <meta name="author" content="{{ site.name }}">
  <meta name="description" content="{{ site.data.profile.description }}">
  <meta property="og:title" content="{{ site.name }}">
  <meta property="og:description" content="{{ site.data.profile.description }}">
  <meta property="og:image" content="{{ site.url }}/{{ site.data.profile.photo }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>
<body>
  <header>
    <nav>
      <a class="header-title" href="{{ '/' | relative_url }}">{{ site.name }}</a>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
</body>
</html>
